.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}

.login-title{
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 17px;
}

.register{
    font-size: 15px;
    text-align: center;
    margin-top: 14px;
}

.form-box{
    width: 400px;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #fff;
    padding:10px 17px;
}

.links{
    font-size: 16px;
    color: #1D4ED8;
    text-decoration: underline;
}

.error-text{
    color: red;
    font-size: 12px;
}