@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities; 


 

html{
    font-family: "Poppins","sans-serif";
}

body{
    background-color: #fdfeff;
    overflow-x: hidden;
}

.input-box{
    width: 96%;
    background-color: transparent;
    border: 1.5px solid grey;
    padding: 10px 8px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
}

.btn-primary{
    width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
    border:0;
    cursor: pointer;
    background-color: #1D4ED8;
    color: white;
    margin-top: 10px;
}

.btn-primary:hover{
    transform: scale(0.98);
}
.password{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 1.5px solid grey;
    border-radius: 5px; 
    padding: 7px 8px; 
    /* margin-bottom: 20px; */
}

.password-box{
    border: 0;
    outline: 0;
}

.eye{
    cursor: pointer;
}
/* bg-white flex items-center justify-between px-6 py-2 */
